// .container {
//     width: 93% !important;
// }

.home.about.container {
    width: 10% !important;
}
.home-section.about.profile.container {
    width: 10% !important;
}
.home-section.about.profile {
    padding: 30px 0 30px 0;
}